@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">I-Cater Food App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img class="background" src="~/Images/food1.jpg" />
</div>

<div id="cardimg" />
<h5>Your addiction</h5>
<div class="card-columns">
    <div class="card" />
    <div class="card-img" />
    <img class="background1" src="~/Images/african-food-3957740_1920.jpg" />
    @*<img class="cheese" src="~/Images/cheese-1887233_1920.jpg" />*@

</div>
<div id="cardimg" />
<h5>Your addiction</h5>
<div class="card-columns">
    <div class="card" />
    <div class="card-img" />
    <img class="cheese" src="~/Images/cheese-1887233_1920.jpg" />

</div>