@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">I-Cater Food App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img class="background" src="~/Images/food1.jpg" />
</div>

<div id="cardimg" />
<h5>Your addiction</h5>
<div class="card-columns">
    <div class="card" />
    <div class="card-img" />
    <img class="background1" src="~/Images/african-food-3957740_1920.jpg" />-->
@*<img class="cheese" src="~/Images/cheese-1887233_1920.jpg" />*@

<!--</div>
<div id="cardimg" />
<h5>Your addiction</h5>
<div class="card-columns">
    <div class="card" />
    <div class="card-img" />
    <img class="cheese" src="~/Images/cheese-1887233_1920.jpg" />

</div>-->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">          
           <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/Images/cheese-1887233_1920.jpg" />
           
            @*<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="~/Images/african-food-3957740_1920.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
            </svg>*@

            <h2>I-Cater Food App</h2>
            <p>Check Out the wonders of the great Caterers this platform provides you. There is a Menu for everyone.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/Images/food2.jpg" />

            @*<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>*@
           
            <h2>Meet The Caterers</h2>
            <p>Whether you are a Caterer or User, the I-Cater App has got you covered..</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="~/Images/food3.jpg" />

            @*<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>*@
           
            <h2>Register and Use</h2>
            <p>For every occasion you may have. #Baby dedication #Wedding #Naming ceremonis #Birthday parties #Picnics #Get together #End of the year Parties.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">See Our Caterers. <span class="text-muted">They’ll blow your mind.</span></h2>
            <p class="lead">This Platform is Open for All.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/Images/food11.jpg" />
            @*<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>*@
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See Our Menu.</span></h2>
            <p class="lead">Find Caterers for Every Occasion.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/Images/food4.jpg" />
            @*<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>*@
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Realer than the pictures. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Reach us on +2347058697009</p><p> Email: maureenclassy60@gmailcom.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="~/Images/african-food-3957740_1920.jpg" />
            @*<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>*@
        </div>
    </div>

    <hr class="featurette-divider">




    <!-- /END THE FEATURETTES -->

</div>