<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheCatererApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Font.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" /> 
</head>
<body>

    <div class="container-scroller">
        <nav class="navbar-col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class=" text-center navebar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class=" navbar-brand brand-logo"><img src="~/Images/WhatsApp Image 2021-02-26 at 1.00.27 PM.jpeg" style="height:30px"  alt="logo" /></a>
           </div>
            <div>
               @*<partial name="_LoginPartial" />*@
            </div>
        </nav>
        <div class=" container-fluid page-body-wrapper">
            <nav class=" sidebar sidebar-offcanvas" id=" sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class=" nav-link" data-toggle="collapse" href="#Caterer" aria-expanded="false" aria-controls="ui-basic">
                            <i class="fas fa-utensils fa-lg text-primary"></i>
                            <span class=" menu-title">Caterer</span>
                            <i class="menu-arrow text-primary"></i>
                        </a>
                        <div class=" collapse" id="Caterer">
                            <ul class=" nav-flex-column sub-menu">
                                <li class=" nav-item"><a class=" nav-link" asp-controller="Caterer" asp-action="Create">New Caterer</a></li>
                                <li class=" nav-item"><a class=" nav-link" asp-controller="Caterer" asp-action="Index">List of Caterers</a></li>
                            </ul> 
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class=" nav-link" data-toggle="collapse" href="#Customer" aria-expanded="false" aria-controls="ui-basic">
                            <i class="fas fa-users fa-lg text-primary"></i>
                            <span class=" menu-title">Customer</span>
                            <i class="menu-arrow text-primary"></i>
                        </a>
                        <div class=" collapse" id="Customer">
                            <ul class=" nav-flex-column sub-menu">
                                <li class=" nav-item"><a class=" nav-link" asp-controller="Customer" asp-action="Create">New Customer</a></li>
                                <li class=" nav-item"><a class=" nav-link" asp-controller="Customer" asp-action="Index">Customer Order History</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </nav>
            @*<div class=" main-panel">
                <partial name=" "/>
                <div class="content-wrapper"> 
                    @RenderBody()

                </div>*@

            </div>

        </div>
    

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TheCatererApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" asp-area="" asp-controller="Caterer" asp-action="Index">Caterer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="About Us" asp-action="Index">About Us</a>
                        </li>
                    </ul>
                    @*<ul class="navbar-nav flex-grow-0">
                        <li class="nav-item">
                            <a class="btn btn-outline-primary">Login</a>
                            <a class="btn btn-primary">Register</a>
                        </li>
                    </ul>*@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TheCatererApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
