<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*Created a Layout for login *@
    <link rel="stylesheet" href="~/Login_v4/css/main.css" />
    <link rel="stylesheet" href="~/Login_v4/css/util.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Login_v4/js/main.js"></script>
</body>
</html>
